/*
  Much to my begrudging, colors is intentionally an scss file rather than a
  sass file like the rest of the source, due to a limitation in the implementation
  of the indented syntax when using @include.

  https://github.com/sass/sass/issues/216

  I would love to try and fix the issue myself, but I don't know anything about
  Dart, the language that Sass is currently implemented in. If it ever gets done
  by someone else, it will become a sass file just like everyone else.
*/

@mixin colors($args...) {
	:root {
		@each $colorName, $color in keywords($args) {
			--#{$colorName}: #{$color};
		}
	}

	@each $colorName, $color in keywords($args) {
		.#{$colorName} {
			color: $color;
		}

		.bg-#{$colorName} {
			background-color: $color;
		}
	}
}

@include colors(
	$magenta: #dd28a0,
	$light-magenta: #ee6bc3,
	$dark-pink: #d22257,
	$pink: #eb346a,
	$light-pink: #ec517f,
	$dark-red: #c11111,
	$red: #e03838,
	$dark-brown: #663824,
	$brown: #9c5f44,
	$light-brown: #b98f7e,
	$dark-orange: #d17915,
	$orange: #eb8d28,
	$light-orange: #eeae67,
	$gold: #ecc046,
	$yellow: #f0dd0a,
	$light-yellow: #fbf257,
	$dark-emerald: #2e8208,
	$emerald: #52ba21,
	$light-emerald: #9ceb75,
	$dark-green: #0d9140,
	$green: #38cc71,
	$light-green: #81e6a8,
	$dark-turquoise: #13959f,
	$turquoise: #23d0e0,
	$light-turquoise: #71e4ee,
	$dark-sky: #1168a7,
	$sky: #0095ff,
	$light-sky: #4baff1,
	$dark-blue: #112d9c,
	$blue: #3259f5,
	$light-blue: #6380f4,
	$dark-violet: #2d12af,
	$violet: #614ceb,
	$light-violet: #9084e6,
	$atom: #90a3e8,
	$copper: #f0dac7,
	$peach: #ff9361,
	$night: #12142d
);
