body {
	background-color: #627bfc;
}

#minefield {
	display: grid;
	align-items: center;
	justify-items: center;
}

#minefield table {
	text-align: center;
	vertical-align: middle;
	color: #efefef;
	border-collapse: separate;
	border-spacing: 0.7em;

	tr {
		margin: 0;
		padding: 0;
	}

	td {
		background-color: #374175;
		border-radius: 4px;

		height: 2.5em;
		width: 2.5em;

		text-align: center;
		vertical-align: middle;
	}

	.checked {
		background-color: #131313;
	}

	.marked {
		background-color: #e76851;
	}

	.question {
		background-color: #f8e53d;
	}

	// Explosion
	.checked.mine {
		background-color: #ff294f;
	}
}

#options {
	columns: 3;
}

#floating {
	position: absolute;

	left: 0px;
	top: 0px;

	width: 100%;
	height: 100%;
}

#modal {
	background-color: #6657c6;
	background-image: -webkit-radial-gradient(
		50% 100%,
		circle closest-corner,
		#6657c6,
		#434cb6
	);
	color: #efefef;

	box-shadow: 0px 0px 30px black;
	border-radius: 4px;

	max-width: 90%;

	margin: 10em 10em;
	padding: 2em;

	h1 {
		font-size: 3em;
		padding: 0;
		margin: 0.2em 0;
	}

	button {
		background-color: #627bfc;
		border: 1px solid #b9c0ff;

		font-size: 1.5em;
		padding: 0.3em 0.5em;
		margin: 0.5em 0.5em 0 0;
	}
}
